
.header-cont0{
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  border-bottom: solid 1px rgb(226, 226, 226);
}

.header-cont0 p {
  font-size: 26px;
}

.header-cont1 {
  display: flex;
  gap: 20px;
  align-items: center;
}

.stop{
  width: 80px;
  height: 50px;
  border-radius: 10px;
  background-color: red;
  color: white;
}

