

.app-cont0{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.app-cont1{
  display: flex;
  justify-content: space-around;
}

.stop{
  width: 100px;
}